"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-pylint"
      "tree-view"
    ]
    themes: [
      "one-dark-ui"
      "afterglow-like"
    ]
  editor:
    backUpBeforeSaving: true
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 2
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    errorPanelHeight: 99
    showErrorPanel: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
